@charset "UTF-8";


/* form styling */

body{
  background-color: #f6faf3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}

label{
    margin-right: 4em;
    width: 6.5em;
    display: inline-block;
    text-align: left;
}

#formcol1 li{
    list-style: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

select:focus,
select:active,
input:focus,
input:active,
input:focus + label,
input:active + label,
label[for]:focus,
label[for]:active {
  color: #fff !important;
  background-color: #bb3d2f !important;
}

#formcol1 input.reqfield {
    background: #ff9;
}

.required{
  color: #E60000;
}


/* end of form css */
	